.navbar-inverse{
    font-family: 'Denk One',sans-serif;
    color: #effffa;
    border-color: transparent;
    width: 100%;
    z-index: 10;
    position: fixed;
    /*background-color: transparent;*/
    opacity: .5;
    padding-left: 25px;
    padding-right: 5px;
}
#temp{
    font-family: 'Denk One',sans-serif;
    color: white;  
}



#purpleshit{
  height: 700px;
  width: 100%;
  /*background-color: purple;*/
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-color: #560156;
    position: relative;

}

#purpleshit .jumbotron{
    width: 40%;
    margin: auto;
    margin-top: 200px;
    position: relative;
    font-family: 'Denk One',sans-serif;
    color: white;
    opacity: .8;
    background-color:#560156;
    border-radius: 10px;
    text-align: center;
}

#purpleshit .jumbotron h1{
    color: red;
}


.form-control{
    background-color: transparent;
    border-color: #c16be0;
    
}

#carosel{
    height: 700px;
    background-color: #560156;

}

.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height: 200px;
    max-height: 500px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

#myCarousel{
    width: 80%;
    margin: auto;





}














/*#iphone{
     border-radius: 50px 10px 10px 10px;
}*/

#carosel h3{
    text-align: center;
    color: #560156;
    font-family: 'Denk One',sans-serif;
    margin-top: 20px;
    padding-bottom: 40px;
}

#iphone{
    color: #560156;
    text-align: center;  
    font-family: 'Denk One',sans-serif;
    margin-bottom: 20px
}
#iphone h4, #iphone h3{
    padding-top: 20px;
    padding-bottom: 40px;
    color: #560156;
}


#club,#bar,#food,#movie,#paperclip {
    margin: 10px;
    color: #fff;
    height: 200px;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    border-color: transparent;
    font-size: 90px;
}


/*.btn-default {
  
   

    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


*/



#club {
    background-color: #560156;
    /*background: linear-gradient(to bottom(#560156, white));*/
     background: -webkit-linear-gradient(#560156, #a789dc)


}

#bar {
    background-color: #c10202;
    /*background: linear-gradient(to bottom,rgba(193,90,2,1),#c10202);*/
     background: -webkit-linear-gradient(#c10202, #fdb5b5)
}

#food {
    background-color: #3030e4;
    /*background: linear-gradient(to bottom,rgba(48,120,228,1),#3030e4);*/
    background: -webkit-linear-gradient(#3030e4, #bdc2dc)
}
#movie {
    background-color: #34d034;
    /*background: linear-gradient(to bottom,rgba(52,160,52,1),#34d034);*/
    background: -webkit-linear-gradient(#34d034, #d6eabe)

}




#club,#bar,#food,#movie,#searchResults {
    transition: all .2s ease-in-out;
}

#club:hover {
    transform: scale(1.1);
}

#bar:hover {
    transform: scale(1.1);
}

#food:hover {
    transform: scale(1.1);
}

#movie:hover {
    transform: scale(1.1);
}



#map{
    height: 550px;
    margin-top: 50px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    /*border: 2px dashed #fff;*/
    border-style: double;
    border-color: white;
 
}
#searchResults{
    height: 250px;
    margin-top: 50px;
     border-radius: 10px;
    padding: 10px;
    /*border: 2px dashed #fff;*/
        border-style: double;
    color: white;
    font-family: 'Denk One',sans-serif;
}
#yaviDeo{
background-color: #560156;
width: 80%;
padding-bottom: 50px;
    background-color: #560156;
    padding-top: 50px;


}
#sum{
    background-color: #560156;

}
#temp{
    color: red;
}


#foot{
    background-color: #560156;
    height: 50px;
    font-family: 'Denk One',sans-serif;
    padding-top: 15px;
    color: white;

}
#carosel h3
{
    padding-top: 10px;
color: #686868;
font-size: 30px;


}
.container-fluid{
    padding: 0;
}



img {
 background: -webkit-linear-gradient(#560156, #a789dc)

}

li{
    list-style-type: none;
}