.navbar {
    height: 100px;
    background-color: #450b4e;
    color: #fff;
    padding: 15px;
}

.container-fluid {
    background-color: #000;
}

h1 small {
    font-size: 15px;
}

h1 {
    font-family: 'Denk One',sans-serif;
    font-size: 50px;
}

.thumbnail {
    border: none;
    background-color: #000;
    width: 420px;
}

#map {
    height: 300px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

#places {
    margin: 5px;
    padding: 5px;
    height: 500px;
    overflow: scroll;
}

.panel-default>.panel-heading {
    background-color: #450b4e;
    color: #fff;
    font-size: 15px;
    border-color: #450b4e;
}

.panel-default {
    background-color: #000;
    border-color: #450b4e;
}

h4 {
    background-color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    padding: 20px;
}

h4:hover {
    background-color: #fff;
}

#giveMeMore {
    margin: 5px;
    padding: 5px;
}

.btn-success {
    margin-left: 18px;
}

img {
    opacity: .8;
    filter: alpha(opacity=50);
}

img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height: 500px;
  }


  #temp {
    font-family: 'Denk One',sans-serif;
    font-size: 20px;
  }